<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bg/cardBg_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_bg/cardBg_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_bg/cardBg_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_common/cardBg_attribut.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_common/cardBg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_common/cardBg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/cardFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_common/deck_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{322,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,68}}</string>
                <key>sourceSize</key>
                <string>{322,68}</string>
            </dict>
            <key>card_common/deck_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>card_common/star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,202},{25,23}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{25,23}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>card_common/star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,227},{33,23}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{33,23}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>card_common/star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,227},{43,23}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{43,23}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>card_common/star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,202},{51,23}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{51,23}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>card_common/star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,202},{49,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>card_common/star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card-sd.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc645ee626de7fa6dc8858b994b5dce8:dda25a7ae50ac5b500f38bf122894656:03f9176f41174a8344432326943c7d0b$</string>
            <key>textureFileName</key>
            <string>card-sd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
