<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{786,450}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{786,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0392f00c2ec51b4b437650ee8b3be77b:abce22bab911aea83dccf579593ee570:b3467b182b0bf53e90e3dd862985d4a2$</string>
            <key>textureFileName</key>
            <string>title-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
