<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bg/cardBg_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_bg/cardBg_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_bg/cardBg_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/cardBg_attribut.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/cardBg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/cardBg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>card_common/cardFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/deck_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{643,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,135}}</string>
                <key>sourceSize</key>
                <string>{643,135}</string>
            </dict>
            <key>card_common/deck_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_common/star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,397},{48,45}}</string>
                <key>offset</key>
                <string>{-27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{48,45}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>card_common/star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,444},{64,45}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{64,45}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>card_common/star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,444},{84,45}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{84,45}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>card_common/star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,397},{102,45}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{102,45}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>card_common/star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,397},{96,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>card_common/star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{100,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc645ee626de7fa6dc8858b994b5dce8:dda25a7ae50ac5b500f38bf122894656:03f9176f41174a8344432326943c7d0b$</string>
            <key>textureFileName</key>
            <string>card-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
