<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{630,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title-sd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9c1b11db865f067b5a4ca45f933fa70:df04813e4d743edd847a4b5098754d2e:b3467b182b0bf53e90e3dd862985d4a2$</string>
            <key>textureFileName</key>
            <string>title-sd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
