<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/control_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,374},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>UI/control_left_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>UI/control_right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>UI/control_right_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>unit/c1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,746},{116,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,216}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{116,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,216}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,746},{116,202}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{116,202}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,746},{116,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{116,184}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/chick.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,964},{39,39}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{39,39}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/chickDead.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,964},{41,39}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{41,39}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/cock.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,964},{27,33}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,67},{27,33}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/eggBroken.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,964},{45,41}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{45,41}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/hen.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{79,97}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{79,97}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,964},{112,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,13}}</string>
                <key>sourceSize</key>
                <string>{116,17}</string>
            </dict>
            <key>unit/progressBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,950},{112,7}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,7}}</string>
                <key>sourceSize</key>
                <string>{116,17}</string>
            </dict>
            <key>unit/progressBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{112,7}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{112,7}}</string>
                <key>sourceSize</key>
                <string>{116,17}</string>
            </dict>
            <key>unit/progressBarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1005},{116,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,17}}</string>
                <key>sourceSize</key>
                <string>{116,17}</string>
            </dict>
            <key>unit/samgetang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{57,49}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{57,49}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acbf3dd6e667d53c65b4288f75f9698a:15aed8d055c92c88b20017f4fe37522e:52ac833776d3de1ab64d6632c7113e8c$</string>
            <key>textureFileName</key>
            <string>unit-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
